html {
  background-color: rgb(0, 0, 0);
  font-family: sans-serif;
}

main {
  padding: 2rem;
}

main h2 {
  border-bottom: 2px solid #7f8c8d;
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  border: outset;
}

.table-list {
  border-collapse: collapse;
  color: #ffffff;
  width: 100%;
}

.table-list,
.table-list th,
.table-list td {
  border: 1px solid #bdc3c7;
}

.table-list th,
.table-list td {
  margin-top: 1rem;
  margin-bottom: 0.5em;
  padding: 0.5rem;
}

.table-list td ul li * {
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.table-list tbody tr:nth-child(even) {
  background-color: rgba(137, 137, 145, 0.459);
}

.list-actions {
  margin: 0;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.list-actions li {
  display: inline-block;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add,
.button-return,
.form-button-submit,
.form-button-cancel {
  display: inline-block;
  width: 75px;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
}

.list-actions-button-details,
.list-actions-button-edit {
  margin-right: 1rem;
}

.list-actions-button-details {
  background-color: #2980b9;
}
.list-actions-button-details:hover {
  background-color: #3498db;
}

.list-actions-button-edit {
  background-color: #f39c12;
}
.list-actions-button-edit:hover {
  background-color: #f1c40f;
}

.list-actions-button-delete,
.form-button-cancel {
  background-color: #c0392b;
}
.list-actions-button-delete:hover,
.form-button-cancel:hover {
  background-color: #e74c3c;
}

.button-add,
.button-return,
.form-button-submit,
.form-button-cancel {
  padding: 0.5rem 1rem;
}

.button-add,
.form-button-submit {
  background-color: #27ae60;
}

.button-return {
  background-color: #2980b9;
  margin-top: 1rem;
}

.button-return:hover {
  background-color: #3498db;
}

.button-return a,
.button-add a {
  text-align: center;
  color: white;
}

.button-add:hover,
.form-button-submit:hover {
  background-color: #2ecc71;
}

.form-buttons {
  grid-column: 1 / span 2;
}

.form-button-submit,
.form-button-cancel {
  width: 100%;
}

.form-button-cancel {
  box-sizing: border-box;
  display: block;
}

.form-button-submit {
  margin-bottom: 0.5rem;
}

.form input.error-input,
.form select.error-input {
  border: 3px solid #e74c3c;
}

.errors-text {
  display: block;
  font-size: 0.85em;
  line-height: 2.25rem;
  margin-top: 0.5em;
  color: #c84539;
}

/* nowy rekord */

button,
input,
select,
textarea,
option {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}

.form {
  display: grid;
  grid-template-columns: 150px 300px 1fr;
  gap: 1rem;
}

.form select,
.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form input[type="email"] {
  border: 1px solid #7f8c8d;
  color: #2c3e50;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}

.form label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5em;
}

.symbol-required {
  color: #c0392b;
}

header,
main,
footer,
nav,
body {
  margin: 2rem;
  border-radius: 8px;
}

header,
main,
footer {
  background-color: rgba(48, 48, 48, 0.959);
  color: white;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-evenly;
}

header h1 {
  /* float: left; */
  padding: 10px;
  text-align: center;
  background: rgb(226, 0, 2);
  color: white;
  font-size: 35px;

  border-radius: 8px;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

header img {
  border-radius: 8px;
}

nav {
  background-color: rgb(226, 0, 2);
}

nav ul {
  display: flex;
  padding: 0.5rem;
  overflow: hidden;
  list-style-type: none;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

nav ul li {
  margin: 0px;
  background-color: rgba(48, 48, 48, 0.959);
  border-radius: 8px;
}

nav ul li a {
  display: block;
  width: auto;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: black;
  color: white;
}

nav ul li a.active {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  background-color: rgb(155, 8, 8);
}

body {
  min-width: 360px;
}

@media all and (max-width: 720px) {
  header {
    flex-direction: column;
  }

  header h1 {
    text-align: center;
  }

  header img {
    align-self: center;
  }

  nav ul {
    flex-wrap: wrap;
  }

  nav ul li {
    flex-basis: 50%;
    text-align: center;
  }

  .form {
    grid-template-columns: 1fr;
    row-gap: unset;
    margin-left: unset;
  }

  .form-buttons {
    grid-column: 1/1;
  }

  .table-list thead {
    display: none;
  }

  .table-list td {
    display: flex;
  }

  .table-list td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }

  .list-actions li {
    /* display: flex; */
    /* justify-content: space-between; */
  }

  .list-actions-button-details,
  .list-actions-button-edit,
  .list-actions-button-delete {
    display: inline-block;
    width: 75;
    margin: 10px;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
  }
}

@media all and (max-width: 400px) {
  body,
  nav,
  nav ul,
  header,
  main,
  footer {
    margin: 0;
  }

  nav ul li {
    flex-basis: 100%;
  }
}
