<%- include("../../fragments/header.ejs") %>

<main>
  <h2>Nowy pracownik</h2>

  <form class="form" novalidate onsubmit="return validateForm();">
    <label for="firstName"> Imię: <span class="symbol-required">*</span></label>
    <input type="text" name="firstName" id="firstName" required />
    <span id="errorFirstName"></span>

    <label for="lastName">
      Nazwisko: <span class="symbol-required">*</span></label
    >
    <input type="text" name="lastName" id="lastName" required />
    <span id="errorLastName"></span>

    <label for="birthdayYear">
      Rok urodzenia <span class="symbol-required">*</span></label
    >
    <input
      type="number"
      name="birthdayYear"
      id="birthdayYear"
      required
      min="1950"
      max="2022"
    />
    <span id="errorBirthdayYear"></span>

    <div class="form-buttons">
      <p id="errorsSummary"></p>
      <input type="submit" value="Dodaj" class="form-button-submit" />
      <a href="/drivers" class="form-button-cancel">Anuluj</a>
    </div>
  </form>
</main>
<%- include("../../fragments/footer.ejs") %>
