<footer>
    <div class="footerdiv">
        <div class="footer">
            Maciej Zelias s22482
        </div>
        <ul>
            <li>
                <a href="/changeLang/pl" class="<%= lang == 'pl' ? 'active' : '' %>">PL</a>
             </li>
            <li>
                <a href="/changeLang/en" class="<%= lang == 'en' ? 'active' : '' %>">EN</a>
             </li>
        </ul>
        </div>
</footer>
</body>
</html>