<%- include("../../fragments/header.ejs") %>

<main>
  <h2>Nowy przejazd</h2>

  <form class="form" novalidate onsubmit="return validateForm();">
    <label for="fromWhere"> Z: <span class="symbol-required">*</span></label>
    <input type="text" name="fromWhere" id="fromWhere" required />
    <span id="errorFromWhere"></span>

    <label for="toWhere"> Do: <span class="symbol-required">*</span></label>
    <input type="text" name="toWhere" id="toWhere" required />
    <span id="errorToWhere"></span>

    <label for="dateFrom">
      Data Od: <span class="symbol-required">*</span></label
    >
    <input type="date" name="dateFrom" id="dateFrom" required />
    <span id="errorDateFrom"></span>

    <label for="dateTo"> Data do: </label>
    <input type="date" name="dateTo" id="dateTo" />
    <span id="errorDateTo"></span>

    <label for="vehicle"> Pojazd: <span class="symbol-required">*</span></label>
    <select name="vehicle" id="vehicle" required>
      <option>-- wybierz pojazd --</option>
      <option value="1">Mercedes 1998</option>
      <option value="2">Scania 2000</option>
      <option value="3">Scania 2004</option>
    </select>
    <span id="errorVehicle"></span>

    <label for="driver">
      Kierowca: <span class="symbol-required">*</span></label
    >
    <select name="driver" id="driver" required>
      <option>-- wybierz kierowcę --</option>
      <option value="1">Jan Kowalski</option>
      <option value="2">Michał Jarosz</option>
      <option value="3">Jakub Mazur</option>
    </select>
    <span id="errorDriver"></span>

    <div class="form-buttons">
      <p id="errorsSummary"></p>
      <input
        type="submit"
        value="Dodaj"
        class="form-button-submit"
        onsubmit="console.log('elo')"
      />
      <a href="/transits" class="form-button-cancel">Anuluj</a>
    </div>
  </form>
</main>
<%- include("../../fragments/footer.ejs") %>
