<%- include("../../fragments/header.ejs") %>

<main>
  <h2>Lista pojazdów</h2>

  <p>Brak rekordów do wyświetlenia</p>

  <p class="button-add">
    <a href="/transits"> Dodaj nowy pojazd </a>
  </p>
</main>
<%- include("../../fragments/footer.ejs") %>
