<%- include("../../fragments/header.ejs") %>

<main>
  <h2>Lista przejazdów</h2>
  <table class="table-list">
    <thead>
      <tr>
        <th>Do</th>
        <th>Data Od</th>
        <th>Data do</th>
        <th>Pojazd</th>
        <th>Kierowca</th>
        <th>Akcje</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Konstancin</td>
        <td>2022-10-20</td>
        <td></td>
        <td>Mercedes</td>
        <td>Jan Kowalski</td>
        <td>
          <ul class="list-actions">
            <li>
              <a href="/transits/details/p1" class="list-actions-button-details"
                >Szczegóły</a
              >
            </li>
            <li>
              <a href="/transits/edit/p1" class="list-actions-button-edit"
                >Edytuj</a
              >
            </li>
            <li>
              <a href="" class="list-actions-button-delete">Usuń</a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Barcelona</td>
        <td>2022-05-11</td>
        <td>2022-05-14</td>
        <td>Scania</td>
        <td>Jan Kowalski</td>
        <td>
          <ul class="list-actions">
            <li>
              <a href="/transits/details/p2" class="list-actions-button-details"
                >Szczegóły</a
              >
            </li>
            <li>
              <a href="/transits/edit/p2" class="list-actions-button-edit"
                >Edytuj</a
              >
            </li>
            <li>
              <a href="" class="list-actions-button-delete">Usuń</a>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="button-add">
    <a href="/transits/add"> Dodaj nowy przejazd </a>
  </p>
</main>
<%- include("../../fragments/footer.ejs") %>
