<html lang="pl-PL">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../../css/style.css" />
    <meta charset="UTF-8">
    <title>
        QTransit Manager Demo
    </title>
</head>

<body>
    <header>
        <h1>
            QTransit Manager
        </h1>
        <img src="../../images/logo.png" alt=" QTransit Company Logo">
    </header>

    <nav>
        <ul>
            <li>
                <a href="../../index.html">
                    Strona główna
                </a>
            </li>
            <li>
                <a href="../driver/list.html">
                    Kierowcy
                </a>
            </li>
            <li>
                <a href="" class="active">
                    Przejazdy
                </a>
            </li>
            <li>
                <a href="../vehicle/list.html">
                    Pojazdy
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <h2>Lista przejazdów</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>
                        Do
                    </th>
                    <th>
                        Data Od
                    </th>
                    <th>
                        Data do
                    </th>
                    <th>
                        Pojazd
                    </th>
                    <th>
                        Kierowca
                    </th>
                    <th>
                        Akcje
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        Konstancin
                    </td>
                    <td>
                        2022-10-20
                    </td>
                    <td>

                    </td>
                    <td>
                        Mercedes
                    </td>
                    <td>
                        Jan Kowalski
                    </td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="./details.html" class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="./form-edit.html" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        Barcelona
                    </td>
                    <td>
                        2022-05-11
                    </td>
                    <td>
                        2022-05-14
                    </td>
                    <td>
                        Scania
                    </td>
                    <td>
                        Jan Kowalski
                    </td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="./details.html" class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="./form-edit.html" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="button-add">
            <a href="form.html">
                Dodaj nowy przejazd
            </a>
        </p>
    </main>
    <footer>
        Maciej Zelias s22482
    </footer>
</body>

</html>