<html lang="pl-PL">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../../css/style.css" />
    <meta charset="UTF-8">
    <title>
        QTransit Manager Demo
    </title>
</head>

<body>
    <header>
        <h1>
            QTransit Manager
        </h1>
        <img src="../../images/logo.png" alt=" QTransit Company Logo">
    </header>

    <nav>
        <ul>
            <li>
                <a href="../../index.html">
                    Strona główna
                </a>
            </li>
            <li>
                <a href="../driver/list.html">
                    Kierowcy
                </a>
            </li>
            <li>
                <a href="../transit/list.html">
                    Przejazdy
                </a>
            </li>
            <li>
                <a href="./list.html" class="active">
                    Pojazdy
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <h2>Szczegóły pojazdu</h2>

        <form class="form">
            <label for="brandName"> Marka: </label>
            <input type="text" name="brandName" id="brandName" value="Mercedes" disabled>
            <span id="errorBrandName"></span>

            <label for="ProductionYear"> Rok Produkcji: </label>
            <input type="number" name="ProductionYear" id="ProductionYear" value="1998" disabled>
            <span id="errorProductionYear"></span>
            <label for="SemitrailerSize"> Rozmiar Naczepy: </label>
            <input type="number" name="SemitrailerSize" id="SemitrailerSize" value="" required min="1950" max="2022"
                disabled>
            <span id="errorSemitrailerSize"></span>

            <div class="form-buttons">
                <a href="./form-edit.html" class="list-actions-button-edit">Edytuj</a>
            </div>
        </form>

        <h2>Szczegóły przejazdów</h2>
        <table class='table-list'>
            <thead>
                <tr>
                    <th>
                        Kierowca
                    </th>
                    <th>
                        Rok Urodzenia
                    </th>
                    <th>
                        Do
                    </th>
                    <th>
                        Data od
                    </th>
                    <th>
                        Data do
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td label="Kierowca">
                        Jan Kowalski
                    </td>
                    <td label="Rok Urodzenia">
                        1996
                    </td>
                    <td label="Do">
                        Konstancin
                    </td>
                    <td label="Data od">
                        2022-10-20
                    </td>
                    <td label="Data do">

                    </td>
                </tr>
                <tr>
                    <td label="Kierowca">
                        Michał Jarosz
                    </td>
                    <td label="Rok Urodzenia">
                        1996
                    </td>
                    <td label="Do">
                        Gdańsk
                    </td>
                    <td label="Data od">
                        2022-10-20
                    </td>
                    <td label="Data do">
                        2022-10-21
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="button-return">
            <a href="./list.html">Powrót</a>

        </div>
    </main>
    <footer>
        Maciej Zelias s22482
    </footer>
</body>

</html>